<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Planz.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Planz.Properties.Settings>
            <setting name="IsSpellCheckEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NavigationTabVisibility" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="HeadingLevel1FontFamily" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="HeadingLevel1FontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="NoteFontFamily" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="NoteFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="LastFocusedElementGuid" serializeAs="String">
                <value />
            </setting>
            <setting name="TwitterUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="TwitterPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="NavigationTabWidth" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="TailImageHeight" serializeAs="String">
                <value>13.8</value>
            </setting>
            <setting name="LastRunningDateTime" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowOutline" serializeAs="String">
                <value>False</value>
            </setting>
        </Planz.Properties.Settings>
    </userSettings>
</configuration>